.section--auth-login {
  .container {
    min-height: 80vh;
  }
  .content-bar {
    margin-top: 40px;
  }
  .auth-container {
    width: 800px;
    height: 580px;
    margin: 120px auto 0px auto;
    box-shadow: 0px 4px 16px 0px #e6e6e4;
    border-radius: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .column {
      height: inherit;
      border-radius: 22px;
      display: flex;
      &:first-child {
        background-color: $black;
      }
      img {
        margin: auto;
      }
    }
    @media screen and (max-width: 850px) {
      grid-template-columns: 1fr;
      width: 450px;
      .column {
        &:last-child {
          display: none;
        }
      }
    }
    @include screen(phone) {
      margin-top: 25px;
      width: 340px;
      height: 530px;
    }
    @include screen(phone-small) {
      width: 310px;
    }
  }
}
