.container {
  .lection-management-form {
    display: flex;
    flex-direction: column;
    .edit-buttons {
      display: flex;
      .btn-red-fill {
        margin: 0px 50px 0px 0px;
      }
    }
  }

  @include screen(desktop) {
    .lection-management-form {
      margin: auto;
      .grid-container {
        margin: 0px auto 40px auto;
      }
    }
  }
  @include screen(tablet-wide) {
    .lection-management-form {
      .grid-container {
        grid-template-columns: repeat(2, 1fr);
        width: auto;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .lection-management-form {
      .grid-container {
        grid-template-columns: 1fr;
        margin: 0px auto 20px auto;
      }
      .edit-buttons {
        flex-direction: column;
        align-items: center;
        .btn-x2 {
          margin: 0px auto 10px auto;
        }
      }
    }
  }
}
