.portal-wrapper {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 6;
}
.global-portal-left {
  left: 0;
  background-image: url(../../images/svg/triangle-left.svg);
  background-repeat: no-repeat;
}
.global-portal-right {
  right: 0;
  background-image: url(../../images/svg/triangle-left.svg);
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
.section--welcome-page__hero {
  min-height: 100vh;
  .slider-btns-wrapper {
    @media screen and (max-width: 450px) {
      .btn-left {
        display: none;
      }
      .btn-right {
        right: 15px;
      }
    }
  }
  .container {
    height: 100vh;
  }
  .title__hero {
    margin: 350px auto auto 0px;
    h1 {
      font-size: 6rem;
      transition: 0.15s ease-in-out;
      font-family: IgraSans;
      text-transform: uppercase;
      color: $white;
      letter-spacing: 2px;
      &:hover {
        color: $red;
      }
    }
    @media screen and (max-width: 650px) {
      margin-top: auto;
      margin-left: 40px;
      h1 {
        font-size: 5rem;
      }
    }
    @media screen and (max-width: 450px) {
      margin-left: 15px;
      h1 {
        font-size: 4rem;
      }
    }
  }
}

.section--welcome-page__books {
  .grid-container-4fr {
    align-self: center;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 40px 0px 40px 0px;
    column-gap: 20px;
    @include screen(tablet-wide) {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }
    .column {
      grid-column-end: span 2;
      border: 4px solid $black;
      margin-top: 20px;
      &:nth-child(3) {
        border-left: none;
      }
    }
    .section--title-small {
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 4px solid $black;
      h1 {
        font-family: IgraSans;
        text-transform: uppercase;
        text-align: center;
      }
    }
    .section--call-to-action {
      height: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-around;
      border-bottom: 4px solid $black;
      @include screen(phone) {
        height: 210px;
        flex-direction: column;
      }
      .text {
        h5 {
          font-family: IgraSans;
          text-transform: uppercase;
          line-height: 1.7;
        }
      }
      .btn {
        padding: 0px 50px 0px 50px;
        height: 55px;
        @include screen(phone) {
          height: 45px;
        }
      }
    }
    .section--row-design {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      height: 120px;
      .design-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 4px solid $black;
        &:last-child {
          border-right: none;
        }
        img {
          width: 50px;
          height: 50px;
        }
        i {
          font-size: 60px;
          color: $black;
        }
      }
    }
  }
  .grid-container-2fr {
    background-color: $white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 0px 40px 0px;
    border: 4px solid $black;
    @include screen(tablet) {
      grid-template-columns: 1fr;
    }
    .section--title-big {
      grid-column-end: span 2;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 4px solid $black;
      text-align: center;
      @include screen(tablet) {
        grid-column-end: span 1;
      }
      h1 {
        font-family: IgraSans;
        text-transform: uppercase;
        letter-spacing: 2px;
        @include screen(phone) {
          font-size: 30px;
          letter-spacing: normal;
        }
      }
    }
    .section--consultant-time {
      height: 120px;
      border-bottom: 4px solid $black;
      align-items: center;
      padding: 20px;
      &:nth-child(odd) {
        border-left: 4px solid $black;
        @include screen(tablet) {
          border-left: none;
        }
      }
      &:nth-last-child(-n + 2) {
        border-bottom: none;
      }
      @include screen(tablet) {
        &:nth-last-child(-n + 2) {
          border-bottom: 4px solid $black;
        }
        &:last-child {
          border-bottom: none;
        }
      }
      .content {
        height: 80px;
        display: flex;
        align-items: center;
        .content--date {
          width: 60px;
          height: 60px;
          background-color: $red;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h6 {
            color: $white;
            text-transform: uppercase;
            font-weight: 500;
          }
        }
        .content--text {
          width: calc(100% - 80px);
          margin-left: 20px;
          h6 {
            font-weight: 500;
          }
        }
      }
    }
  }
}

.section--welcome-page__coffee {
  background-color: $gold;
  height: auto;
  .grid-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 30px 0px 20px 0px;
    .text-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 15px 0px 15px 0px;
      .heading-wrapper {
        display: flex;
        @media screen and (max-width: 600px) {
          flex-direction: column;
        }
        h1 {
          color: $violet;
          letter-spacing: 4px;
          font-family: IgraSans;
          text-transform: uppercase;
          text-align: center;
        }
      }
      p {
        color: $violet;
        font-weight: 500;
        text-align: center;
        margin-top: 12.5px;
        width: 300px;
      }
    }
    .pattern-left,
    .pattern-right {
      display: flex;
      img {
        width: 450px;
      }
    }
    .pattern-right {
      justify-content: flex-end;
    }
  }
}

.section--welcome-lectorium {
  background-color: $white;
  .grid-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px 0px 30px 0px;
    column-gap: 20px;
    .text-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      align-items: center;
      h1 {
        letter-spacing: 3px;
        position: relative;
        text-align: center;
        &::after {
          content: "";
          width: 215px;
          height: 2px;
          background-color: $black;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -10px;
        }
      }
      .small-description {
        width: 310px;
        height: auto;
        text-align: center;
        margin-top: 20px;
      }
      .btn {
        margin-top: 20px;
      }
    }
    .content-bar {
      justify-content: space-between;
      align-items: center;
      .btn {
        margin-right: 10px;
      }
      h4 {
        font-family: "Montserrat", sans-serif;
      }
      @include screen(tablet) {
        flex-direction: column;
        margin-top: 30px;
        h4 {
          text-align: center;
        }
        .btn {
          margin-top: 20px;
        }
      }
    }
    .cards-wrapper {
      min-height: 500px;
      margin-top: 10px;
      justify-content: space-between;
      .card-lection {
        background-color: $white;
        margin-right: 10px;
      }
      @media screen and (max-width: 648px) {
        justify-content: center;
      }
      @include screen(phone) {
        .card-lection {
          margin-right: 0;
        }
      }
    }
  }
}

.section--welcome-contacts {
  height: auto;
  background-color: $white;
  .container {
    margin-top: -150px;
  }
  .cards-wrapper {
    height: auto;
    justify-content: center;
    .card {
      width: 310px;
      height: auto;
      padding: 10px;
      background-color: $white;
      align-items: center;
      .card-icon {
        border-color: $black;
        i {
          color: $black;
        }
      }
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
}
