.section--welcome-page__hero {
  min-height: 100vh;
  .container {
    width: calc(100% - 300px);
    @media screen and (max-width: 1350px) {
      width: 1270px;
    }
    @media screen and (max-width: 1280px) {
      width: 95%;
    }
  }
  .content-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media screen and (max-width: 1280px) {
      justify-content: space-between;
    }
    @media screen and (max-width: 1100px) {
      flex-direction: column-reverse;
      justify-content: space-evenly;
    }
    @include screen(tablet) {
      align-items: flex-start;
    }
    .title__hero {
      h1 {
        font-size: 5.5rem;
        transition: 0.15s ease-in-out;
        font-family: IgraSans;
        text-transform: uppercase;
        &:hover {
          color: $red;
        }
        @include screen(phone) {
          font-size: 4.5rem;
        }
      }
    }
    .slider__hero {
      width: 750px;
      height: 750px;
      position: relative;
      @media screen and (max-width: 1500px) {
        width: 650px;
        height: 650px;
      }
      @include screen(tablet) {
        width: 550px;
        height: 550px;
      }
      @media screen and(max-height: 770px) and (orientation: landscape) {
        width: 450px;
        height: 450px;
      }
      @media screen and (max-width: 600px) {
        width: 400px;
        height: 400px;
      }
      @include screen(phone) {
        width: 350px;
        height: 350px;
      }
      @media screen and (max-width: 360px) {
        width: 310px;
        height: 310px;
      }
      .slides-wrapper {
        width: calc(100% + 4px);
        height: calc(100% + 1px);
        position: absolute;
        left: -2px;
        top: -2px;
        z-index: 2;
      }
      .slides .slide {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .bg-pattern {
    width: 150px;
    height: 100vh;
    position: absolute;
    left: 10px;
    top: 0;
    background-image: url(../../images/svg/bg-pattern--black.svg);
    background-size: cover;
    @media screen and (max-width: 1350px) {
      display: none;
    }
  }
}

.section--welcome-page__books {
  .grid-container-4fr {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 40px 0px 40px 0px;
    column-gap: 20px;
    @include screen(tablet-wide) {
      grid-template-columns: repeat(2, 1fr);
    }
    .column {
      grid-column-end: span 2;
      border: 4px solid $black;
      border-radius: 22px;
      margin-top: 20px;
      &:nth-child(3) {
        border-left: none;
      }
    }
    .section--title-small {
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 4px solid $black;
      h1 {
        font-family: IgraSans;
        text-transform: uppercase;
        text-align: center;
      }
    }
    .section--call-to-action {
      height: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-around;
      border-bottom: 4px solid $black;
      @include screen(phone) {
        height: 210px;
        flex-direction: column;
      }
      .text {
        h5 {
          font-family: IgraSans;
          text-transform: uppercase;
          line-height: 1.7;
        }
      }
      .btn {
        padding: 0px 50px 0px 50px;
        height: 55px;
        @include screen(phone) {
          height: 45px;
        }
      }
    }
    .section--row-design {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      height: 120px;
      .design-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 4px solid $black;
        &:last-child {
          border-right: none;
        }
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  .grid-container-2fr {
    background-color: $white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 0px 40px 0px;
    border: 4px solid $black;
    border-radius: 22px;
    @include screen(tablet) {
      grid-template-columns: 1fr;
    }
    .section--title-big {
      grid-column-end: span 2;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 4px solid $black;
      text-align: center;
      @include screen(tablet) {
        grid-column-end: span 1;
      }
      h1 {
        font-family: IgraSans;
        text-transform: uppercase;
        letter-spacing: 2px;
        @include screen(phone) {
          font-size: 30px;
          letter-spacing: normal;
        }
      }
    }
    .section--consultant-time {
      height: 120px;
      border-bottom: 4px solid $black;
      align-items: center;
      padding: 20px;
      &:nth-child(odd) {
        border-left: 4px solid $black;
        @include screen(tablet) {
          border-left: none;
        }
      }
      &:nth-last-child(-n + 2) {
        border-bottom: none;
      }
      @include screen(tablet) {
        &:nth-last-child(-n + 2) {
          border-bottom: 4px solid $black;
        }
        &:last-child {
          border-bottom: none;
        }
      }
      .content {
        height: 80px;
        display: flex;
        align-items: center;
        .content--date {
          width: 60px;
          height: 60px;
          background-color: $red;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h6 {
            color: $white;
            text-transform: uppercase;
            font-weight: 500;
          }
        }
        .content--text {
          width: calc(100% - 80px);
          margin-left: 20px;
          h6 {
            font-weight: 500;
          }
        }
      }
    }
  }
}

.section--welcome-page__coffee {
  background-color: $gold;
  height: auto;
  .grid-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 30px 0px 20px 0px;
    .text-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 15px 0px 15px 0px;
      .heading-wrapper {
        display: flex;
        @media screen and (max-width: 600px) {
          flex-direction: column;
        }
        h1 {
          color: $violet;
          letter-spacing: 4px;
          font-family: IgraSans;
          text-transform: uppercase;
          text-align: center;
        }
      }
      p {
        color: $violet;
        font-weight: 500;
        text-align: center;
        margin-top: 12.5px;
        width: 300px;
      }
    }
    .pattern-left,
    .pattern-right {
      display: flex;
      img {
        width: 500px;
      }
    }
    .pattern-right {
      justify-content: flex-end;
    }
  }
}

.section-welcome-page__coffee_new {
  margin: 30px 0px 30px 0px;
  h1 {
    letter-spacing: 4px;
  }
  .cards-wrapper {
    justify-content: space-between;
    @media screen and (max-width: 820px) {
      justify-content: center;
    }
    .card {
      width: 380px;
      height: 420px;
      background-color: $violet;
      justify-content: center;
      align-items: center;
      .card-icon {
        width: auto;
        height: auto;
        border: none;
        i {
          font-size: 80px;
          color: $white;
        }
      }
      .card-title,
      .card-text {
        margin-left: 12.5px;
      }
      .card-text {
        text-align: left;
        width: 200px;
      }
      &:first-child {
        &::after {
          background-color: $white;
        }
      }
      &:nth-child(2) {
        background-color: $pink;
      }

      &:nth-child(3) {
        background-color: $gold;
      }
      @include screen(phone) {
        width: 360px;
        height: 400px;
      }
      @include screen(phone-small) {
        width: 320px;
        height: 370px;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $white;
        transition: 0.3s ease-in-out;
        clip-path: circle(120px at 100% 100%);
      }
      &:hover {
        &::after {
          clip-path: circle(0px at 100% 100%);
        }
      }
    }
  }
}

.section--welcome-lectorium {
  background-color: $black;
  background-image: url(../../images/svg/bg-rgb-stars.svg);
  background-position: center center;
  background-size: cover;
  .grid-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0px 30px 0px;
    column-gap: 20px;
    @include screen(tablet-wide) {
      grid-template-columns: 1fr;
    }
    .text-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0px 25px 0px 0px;
      @include screen(tablet-wide) {
        text-align: center;
        align-items: center;
      }
      h1 {
        letter-spacing: 3px;
        position: relative;
        &::after {
          content: "";
          width: 75px;
          height: 2px;
          background-color: $white;
          position: absolute;
          left: 0;
          bottom: -10px;
          @include screen(tablet-wide) {
            width: 125px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      .small-description {
        margin-top: 20px;
        @include screen(tablet-wide) {
          text-align: center;
        }
      }
      .btn {
        margin-top: 20px;
      }
    }
    .lections {
      padding: 15px 20px 15px 20px;
      border-radius: 20px;
      min-height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $secondary-black;
      margin-top: 20px;
      @include screen(tablet-wide) {
        width: 85%;
        margin: 20px auto 0px auto;
      }
      @include screen(tablet) {
        width: 100%;
      }
      @include screen(phone) {
        background-color: transparent;
        padding: 0;
      }
      .card-lection {
        width: 100%;
        height: 200px;
        margin-top: 15px;
        display: flex;
        align-items: flex-start;
        background-color: $third-black;
        border-radius: 20px;
        position: relative;
        &:nth-child(odd) {
          .btn-round {
            background-color: $dimgray;
          }
        }
        &:nth-child(even) {
          flex-direction: row-reverse;
        }
        &:first-child {
          margin-top: 0;
          @include screen(tablet-wide) {
            margin-top: 15px;
          }
        }
        .card-image {
          width: 160px;
          height: 200px;
          background-color: $gray;
          border-radius: 20px;
        }
        .card-content {
          width: calc(100% - 175px);
          height: 200px;
          margin-left: 15px;
          padding-right: 15px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          h5 {
            font-size: 23px;
            font-weight: 500;
          }
          h6 {
            margin-top: 7.5px;
            font-weight: 500;
            letter-spacing: 2px;
          }
          p {
            margin-top: 7.5px;
            font-size: 13px;
            text-transform: uppercase;
          }
        }
        .btn-round {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: $black;
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            font-size: 22px;
            color: $white;
          }
        }
        @include screen(phone) {
          width: 350px;
          height: 370px;
          flex-direction: column-reverse !important;
          margin-top: 20px;
          .card-image,
          .card-content {
            width: 100%;
          }
          .card-image {
            border-radius: 0;
            border-top-left-radius: 22px;
            border-top-right-radius: 22px;
          }
          .card-content p {
            padding-right: 25px;
          }
          .btn-round {
            top: 80%;
            transform: translateY(-80%);
          }
        }
        @media screen and (max-width: 395px) {
          width: 305px;
        }
      }
      .btn {
        height: 50px;
        padding: 0px 40px;
        margin-top: 20px;
      }
    }
  }
}

.section--welcome-contacts {
  height: auto;
  background-color: $white;
  .container {
    margin-top: -150px;
  }
  iframe {
    @include screen(phone) {
      height: 450px;
    }
  }
  .cards-wrapper {
    height: auto;
    justify-content: space-evenly;
    .card {
      width: 310px;
      height: auto;
      padding: 10px;
      background-color: $white;
      align-items: center;
      .card-icon {
        border-color: $black;
        i {
          color: $black;
        }
      }
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
}
