footer {
  width: 100%;
  height: auto;
  position: relative;
  background-color: $black;
  .shape-divider-bottom {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-top: 2px;
    svg {
      display: block;
      width: calc(100% + 1.3px);
      height: calc(100px + 1.3px);
      transform: rotate(180deg);
    }
    .shape-fill {
      fill: $white;
    }
  }
  .container {
    height: 100%;
    align-items: center;
    margin-bottom: 0;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    @include screen(tablet-wide) {
      flex-direction: column;
    }
    .footer-logo {
      width: 220px;
      height: 100px;
      @include screen(tablet-wide) {
        margin-top: 15px;
      }
    }
    .footer-links {
      width: 250px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .links-list {
        display: flex;
        flex-direction: column;
        a {
          color: $white;
          margin-top: 8.5px;
        }
      }
      @include screen(tablet-wide) {
        display: none;
      }
    }
  }
}
