.nav-fixed-top {
  width: 100%;
  height: 60px;
  z-index: 10;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: rgba(179, 179, 179, 0.13) 0px 1px 23px 0px,
    rgba(179, 179, 179, 0.5) 0px 2px 18px;
  opacity: 1;
  transition: 0.3s ease-out;
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .open-sidebar-button {
    height: 60px;
    align-items: center;
    padding: 10px;
    display: none;
    outline: none;
    i {
      color: $red;
      font-size: 30px;
    }
  }
  .nav-logo {
    width: 170px;
    img {
      width: 60px;
    }
  }
  .nav-links {
    a {
      font-family: IgraSans;
      text-transform: uppercase;
      margin-right: 12.5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .nav-auth-buttons {
    display: flex;
    align-items: center;
    font-weight: 500;
    p {
      margin: 0px 7.5px 0px 7.5px;
    }
  }

  @include screen(tablet-wide) {
    .nav-logo,
    .nav-links {
      display: none;
    }
    .open-sidebar-button {
      display: flex;
    }
    .nav-auth-buttons {
      margin-right: 5px;
    }
  }
}
