// REGUAR
$white: #ffffff;
$black: #1a1c21;
$secondary-black: #1e2025;
$third-black: #26292e;

$khaki: #b8bc74;
$gold: #deba6e;
$red: #ff6c65;
$pink: #dba6c0;
$green: #10e092;
$dark-green: #85bc72;
$violet: #999aca;

$gray: #e6e6e4;
$dimgray: #525558;
$light-gray: #f9f9f9;
